<?xml version="1.0" encoding="UTF-8"?>
<launch>

  <param name="/use_sim_time" value="true" />

  <!-- START WORLD -->
  <include file="$(find rosbot_gazebo)/launch/rosbot_world.launch"></include>


  <!-- INCLUDE ROBOTS -->
  <include file="$(find rosbot_gazebo)/launch/multiple_rosbots.launch"/>

</launch>
