<?xml version="1.0" encoding="UTF-8"?>
<launch>

  <param name="/use_sim_time" value="true" />

  <!-- START WORLD -->
  <include file="$(find rosbot_gazebo)/launch/rosbot_world.launch"></include>


  <!-- INCLUDE ROBOTS -->
  <include file="$(find rosbot_gazebo)/launch/multiple_rosbots.launch"/>

  <!-- Show in Rviz   -->
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find rosbot_description)/rviz/rosbot_201129.rviz" required="true" output="screen"/>

</launch>
